/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    margin: 5px 0;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
