body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 300px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
